<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"><!--unicode-->
    <meta name="keywords" content="Digital library, ebooks">
    <meta name = "viewport" content="width=device-width,initial-scale=1.0">
    <title>Library Database Group 5</title>
    <link rel="stylesheet" href="./css/Style.css">
    <!--
<style>


body{
margin: 0;
padding: 10;
}
.hero{
height: 100%;
width 100%;
background-image: url("Library.jpg")
background-color: #074f57
background-position: center;
background-size: cover;
position: absolute;


}
.form-box{
width: 380px;
height:480px;
position: relative;
margin:6% auto;
background:#fff;
padding: 5px


}
.button-box{
width: 220px
margin 35px auto;
position: relative;
box-shadow: 0 0 20px 9px #ff61241f
border-radius: 30px;


}


    </style>
          -->
</head>
<body>


<h1>BookWorm Digital Library</h1>
<hr>
<div class ="hero">


    <img src="library.jpg" height="5%" width = "40%" alt="Picture of Rutgers Library">
    <div class="form-box">
        <div class ="button-box">
            <button type = "button" class = "toggle-btn">
                Log In
            </button>
            <button type = "button" class = "toggle-btn">Register</button>


        </div>
    </div>
</div>




</body>
</html>


